@model IEnumerable<MediQuickFinal.Models.MembershipViewModel.Members>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Membership Plans</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var membership in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@membership.Name</h5>
                        <p class="card-text">@membership.Description</p>
                        <p class="card-text"><strong>Price: Rs @membership.Price</strong></p>
                        <form asp-action="Success" asp-controller="Membership" method="post">
                            <input type="hidden" name="Id" value="@membership.Id" />
                            <input type="hidden" name="price" value="@membership.Price" />
                            <button type="submit" class="btn btn-primary mt-2">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
